
:root {
    --color-bg: #f7f7f7;
    --color-text: #222;
    --color-primary: #515643;
    --color-secondary: #CFD2C6;
    --color-heading: #5b6049;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.icon-hamburger{
    width: 30px;
    height: 30px;
}
.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
   
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}
header {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    color: var(--color-primary);
    height: 800px;
}

header h1 {
    width: 650px;
    margin-top: 4rem;
    margin-left: 4rem;

    font-size: 4.2rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -2px;
    color: var(--color-heading);
}
